<%- include("header"); -%>
    <h1>Compose</h1>
  <form class="" action="/compose" method="post">

    <!-- <input type="textbox" name="userInput" value=""> -->

    <div class="form-group">
     <label for="exampleInput">Title</label>
     <input name="postTitle" class="form-control" type="text" id="exampleInput" placeholder="">
   </div>

   <div class="form-group">
    <label for="exampleFormControlTextarea1">Post</label>
    <textarea name="postBody"class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

   <button type="submit" class="btn btn-primary">Publish</button>




  </form>
<%- include("footer"); -%>
